@import 'tailwindcss';

@font-face {
	font-family: 'DepartureMono';
	src: url('/DepartureMono-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/**
 * Colors: Palette
 * -------------------------------------------------------------------------- */

:root {
	--vp-c-indigo-1: #3451b2;
	--vp-c-indigo-2: #3a5ccc;
	--vp-c-indigo-3: #5672cd;
	--vp-c-indigo-soft: rgba(100, 162, 255, 0.14);
}

.dark {
	--vp-c-indigo-1: #80a8f7;
	--vp-c-indigo-2: #5c8be7;
	--vp-c-indigo-3: #3367ea;
	--vp-c-indigo-soft: rgba(100, 162, 255, 0.16);
}

/**
 * Colors: Background
 * -------------------------------------------------------------------------- */

:root {
	--vp-c-bg: #fff;
	--vp-c-bg-alt: #eee;
	--vp-c-bg-elv: #fff;
	--vp-c-bg-soft: #eee;

	--vp-c-brand-1: var(--vp-c-indigo-1);
	--vp-c-brand-2: var(--vp-c-indigo-2);
	--vp-c-brand-3: var(--vp-c-indigo-3);
	--vp-c-brand-soft: var(--vp-c-indigo-soft);
}

.dark {
	--vp-c-bg: #0e0e0e;
	--vp-c-bg-alt: #151515;
	--vp-c-bg-elv: #0a0a0a;
	--vp-c-bg-soft: #151515;
}

/**
 * Colors: Function
 * -------------------------------------------------------------------------- */

:root {
	--vp-c-default-1: var(--vp-c-gray-1);
	--vp-c-default-2: var(--vp-c-gray-2);
	--vp-c-default-3: var(--vp-c-gray-3);
	--vp-c-default-soft: var(--vp-c-gray-soft);

	--vp-c-tip-1: var(--vp-c-indigo-1);
	--vp-c-tip-2: var(--vp-c-indigo-2);
	--vp-c-tip-3: var(--vp-c-indigo-3);
	--vp-c-tip-soft: var(--vp-c-indigo-soft);

	--vp-c-note-1: var(--vp-c-brand-1);
	--vp-c-note-2: var(--vp-c-brand-2);
	--vp-c-note-3: var(--vp-c-brand-3);
	--vp-c-note-soft: var(--vp-c-brand-soft);

	--vp-c-success-1: var(--vp-c-green-1);
	--vp-c-success-2: var(--vp-c-green-2);
	--vp-c-success-3: var(--vp-c-green-3);
	--vp-c-success-soft: var(--vp-c-green-soft);

	--vp-c-important-1: var(--vp-c-purple-1);
	--vp-c-important-2: var(--vp-c-purple-2);
	--vp-c-important-3: var(--vp-c-purple-3);
	--vp-c-important-soft: var(--vp-c-purple-soft);

	--vp-c-warning-1: var(--vp-c-yellow-1);
	--vp-c-warning-2: var(--vp-c-yellow-2);
	--vp-c-warning-3: var(--vp-c-yellow-3);
	--vp-c-warning-soft: var(--vp-c-yellow-soft);

	--vp-c-danger-1: var(--vp-c-red-1);
	--vp-c-danger-2: var(--vp-c-red-2);
	--vp-c-danger-3: var(--vp-c-red-3);
	--vp-c-danger-soft: var(--vp-c-red-soft);

	--vp-c-caution-1: var(--vp-c-red-1);
	--vp-c-caution-2: var(--vp-c-red-2);
	--vp-c-caution-3: var(--vp-c-red-3);
	--vp-c-caution-soft: var(--vp-c-red-soft);
}

/**
 * Typography
 * -------------------------------------------------------------------------- */

:root {
	--vp-font-family-base:
		'Geist Mono', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	--vp-font-family-mono:
		ui-monospace, 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
}

body {
	font-size: 14px;
}

header,
.tagline,
h1 {
	font-family: 'DepartureMono';
}

.VPHero {
	.tagline {
		font-size: 1.125rem;

		@media (min-width: 640px) {
			font-size: 1.25rem;
		}
	}

	.image {
		display: none;

		@media (min-width: 640px) {
			display: block;
		}

		.image-container {
			transform: translate(0, -32px);
		}

		.image-src {
			max-width: 469px;
			max-height: 100%;
			left: auto;
			right: 0;
			transform: translate(0%, -50%);
			border-radius: 8px;
		}
	}
}
.VPSidebar {
	.VPLink .text {
		font-size: 14px;
		line-height: 1.5;
	}
}

/**
 * Component: Code
 * -------------------------------------------------------------------------- */

:root {
	--vp-code-color: var(--vp-c-brand-1);
	--vp-code-link-color: var(--vp-c-brand-1);
	--vp-code-link-hover-color: var(--vp-c-brand-2);
	--vp-code-bg: var(--vp-c-gray-soft);
}

/**
 * Scrollbar
 * -------------------------------------------------------------------------- */

::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

::-webkit-scrollbar-track {
	background: --alpha(var(--vp-c-bg) / 20%);
}

::-webkit-scrollbar-thumb {
	background-color: --alpha(var(--vp-c-text-3) / 50%);
	cursor: auto !important;
}

::-webkit-scrollbar-button {
	display: none;
}

::-webkit-scrollbar-corner {
	display: none;
}
